<div class="container mt-5">

<!-- error message -->
<div *ngIf="errMsg" class="  alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{errMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- error message -->
<!-- success message -->
<div *ngIf="successMsg" class=" alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successMsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- success message -->


<!-- <div class="shadow p-3 mb-5 bg-white rounded"> -->
  <!-- for formGroup and ngSubmit plz see the create.ts file -->
  <form [formGroup]="profileForm">
    <div class="card col-md-8 shadow p-3 mb-5 bg-white rounded">
    <div class="row mt-3 justify-content-center">
      <div class="col-md-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>full name</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>
    </div>
      <div class="col-md-4">
        <!-- <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>birthdate</mat-label>
          <input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>birthdate</mat-label>
          <input matInput formControlName="birthdate" type="date">

        </mat-form-field>

      </div>
    </div>

    <!-- <div class="row justify-content-center">
    <section class="example-section"> -->
<div class="row justify-content-center">

  <div class="col-md-2">
    <div class="form-check  ">
      <input class="form-check-input" type="radio" name="status" formControlName ="status" id="inlineRadio1" value="active">
      <label class="form-check-label" for="inlineRadio1"> ACTIVE </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check ">
      <input class="form-check-input" type="radio" name="status"  formControlName="status" id="inlineRadio2" value="pause">
      <label class="form-check-label" for="inlineRadio2">PAUSE</label>
    </div>
  </div>
</div>



    <!-- </section>
  </div> -->



    <div class="row mt-2 justify-content-center" *ngIf="!getparamId" >
      <button type="submit" mat-raised-button color="primary" class=" col-md-8 btn btn-primary" (click)="profileSubmit()">create</button>
    </div>
    <div class="row mt-2 justify-content-center" *ngIf="getparamId">
      <button type="submit" class="col-md-8 btn btn-secondary" (click)="profileUpdate()">  update</button>
    </div>
  </div>
  </form>
<!-- </div> -->

</div>
