<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-white p-2 shadow p-3 mb-5  rounded mt-4">
  <a class="navbar-brand" href="#"> <b>Profile Management</b>  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="create" >create profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="read">all profiles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link "routerLink="pausedProfiles">paused profiles</a>
      </li>
    </ul>

  </div>
</nav>
</div>




<router-outlet></router-outlet>

